    {% load static %}
    <section class="about-area" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>about me</h1>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3>The greatest gift of life is friendship, and I have received it.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident.</p>
                        <img src="{% static 'assets/image/about/signature.png' %}" alt="singnatur">
                    </div>
                    <div class="skill-wrapper">
                        <div class="skill">
                            <p>Adobe Photoshope</p>
                            <div class="skill-bar skill1 wow slideInLeft animated">
                                <span class="skill-count1">95%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <p>Adobe Illustrator</p>
                            <div class="skill-bar skill2 wow slideInLeft animated">
                                <span class="skill-count2">85%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <p>Adobe XD</p>
                            <div class="skill-bar skill3 wow slideInLeft animated">
                                <span class="skill-count3">75%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <p>Sketch</p>
                            <div class="skill-bar skill4 wow slideInLeft animated">
                                <span class="skill-count4">65%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========= 1.3 About Us Area End ============== -->