    {% load static %}
    <section class="about-area" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>about me</h1>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3>Am a front-end developer/UI UX designer</h3>
                        <p>Am a skilled  and creative front-end developer/UI UX designer who is passionate about design.Am a team player with excellent communication skills</p>
                        <img src="{% static 'assets/image/about/signature.png' %}" alt="singnatur">
                    </div>
                    <div class="skill-wrapper">
                        <div class="skill">
                            <p>Html/Css</p>
                            <div class="skill-bar skill1 wow slideInLeft animated">
                                <span class="skill-count1">95%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <p>Javascript/React</p>
                            <div class="skill-bar skill2 wow slideInLeft animated">
                                <span class="skill-count2">85%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <p>Jquery/AfterEffects</p>
                            <div class="skill-bar skill3 wow slideInLeft animated">
                                <span class="skill-count3">75%</span>
                            </div>
                        </div>
                        <div class="skill">
                            <p>Figma/Adobe xd</p>
                            <div class="skill-bar skill4 wow slideInLeft animated">
                                <span class="skill-count4">65%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========= 1.3 About Us Area End ============== -->