  {% load static %}
  <section class="home" id="home">
        <div class="profile">
            <img src="{% static 'assets/image/home/profile.jpeg' %}" alt="portfolio">
            <a class="lightbox-video" href="#">
                <div class="video">
                    <div class="play-btn">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 res">
                    <div class="portfolio-content">
                        <h1>
                            <span>Hello, </span> I’m Maureen Chepkemoi
                        </h1>
                        <h4>Frontend Developer</h4>
                        <a class="theme-btn hover-target" href="{% static 'assets/cv/maureen-chepkemoi-resume.pdf' %}" download="">Download<span> CV</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-media">
            <ul>
                <li class="active"><a class="hover-target" href="https://web.facebook.com/maureen.chepkemoi.376" target="_blank"><span>facebook</span> <i class="fab fa-facebook-f"></i></a></li>
                <li><a class="hover-target" href="https://www.linkedin.com/in/maureen-chepkemoi-97b9b4171/" target="_blank"><span>linkedin</span> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a class="hover-target" href="https://github.com/chepkemoi-maureen/maureen-portfolio"target="_blank"><span>github</span> <i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- =============== 1.2 Home Area End ====================-->