  {% load static %}
  <section class="home" id="home">
        <div class="profile">
            <img src="{% static 'assets/image/home/portfolio.jpg' %}" alt="portfolio">
            <a class="lightbox-video" href="#">
                <div class="video">
                    <div class="play-btn">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 res">
                    <div class="portfolio-content">
                        <h1>
                            <span>Hello, </span> I’m Maureen Chepkemoi
                        </h1>
                        <h4>Frontend Developer</h4>
                        <a class="theme-btn hover-target" href="#">Download<span> CV</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-media">
            <ul>
                <li class="active"><a class="hover-target" href="#"><span>facebook</span> <i class="fab fa-facebook-f"></i></a></li>
                <li><a class="hover-target" href="#"><span>linkedin</span> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a class="hover-target" href="#"><span>github</span> <i class="fab fa-github"></i></a></li>
                <li><a class="hover-target" href="#"><span>behance</span> <i class="fab fa-behance"></i></a></li>
                <li><a class="hover-target" href="#"><span>pinterest</span> <i class="fab fa-pinterest-p"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- =============== 1.2 Home Area End ====================-->