    {% load static %}
    <section class="work-area" id="work">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Work Experience</h2>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 ">
                    <div class="single-work-item work-item-left">
                        <div class="work-experience text-right mr-20">
                            <h6>21 Jan, 2017 - 31 Dec, 2018</h6>
                            <h4>Childion Company Ltd. NY, USA.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                        <div class="work-item mr-30">
                            <h6>UI/UX</h6>
                            <h6>Designer</h6>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-5"></div>
                <div class="offset-lg-5"></div>
                <div class="col-lg-7 ">
                    <div class="single-work-item work-item-right m-mt-40">
                        <div class="work-item ml-30">
                            <h6>UI/UX</h6>
                            <h6>Designer</h6>
                        </div>
                        <div class="work-experience ml-20 ">
                            <h6>21 Jan, 2017 - 31 Dec, 2018</h6>
                            <h4>Childion Company Ltd. NY, USA.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="single-work-item work-item-left m-mt-40">
                        <div class="work-experience text-right mr-20">
                            <h6>21 Jan, 2017 - 31 Dec, 2018</h6>
                            <h4>Childion Company Ltd. NY, USA.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                        <div class="work-item mr-30">
                            <h6>UI/UX</h6>
                            <h6>Designer</h6>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-5"></div>
                <div class="offset-lg-5"></div>
                <div class="col-lg-7 ">
                    <div class="single-work-item work-item-right m-mt-40">
                        <div class="work-item ml-30">
                            <h6>UI/UX</h6>
                            <h6>Designer</h6>
                        </div>
                        <div class="work-experience ml-20 ">
                            <h6>21 Jan, 2017 - 31 Dec, 2018</h6>
                            <h4>Childion Company Ltd. NY, USA.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =============== 1.4 Work Experiences Area End ====================-->